$primary-border: 1px solid #cdcdcd;
$primary-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
$hover-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
$hover-background: #fafafa;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

p {
  display: block;
  margin: 1vh;
}

input:focus {
  outline: none;
  box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

input:hover {
  background-color: $hover-background;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(50px, auto));
  margin: 0 auto;
}

nav {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .nav-login {
    grid-column: 10 / 13;
    align-self: center;
  }

  .nav-logout {
    grid-column: 11 / 13;
    align-self: center;
  }
}

.home {
  grid-column: 1 / 13;
  display: grid;
  margin: 0 auto;

  h2 {
    justify-self: center;
  }
}

.todo-container {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1vh;

  h2 {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .add-todo {
    grid-column: 1 / 10;
    grid-row: 2 / 3;
    justify-self: center;
    width: 300px;
    border: $primary-border;
    box-shadow: $primary-box-shadow;
    border-radius: 2px;

    .input-add-todo {
      width: 98%;
      height: 30px;
      font-size: 1em;
    }
  }

  .add-todo:hover {
    box-shadow: $hover-box-shadow;
    background-color: $hover-background;
  }

  .container-search-todos {
    grid-column: 1 / 10;
    grid-row: 3 / 4;
    justify-self: center;
    width: 300px;
    border: $primary-border;
    box-shadow: $primary-box-shadow;
    border-radius: 2px;

    .input-search-todos {
      -webkit-appearance: textfield;
      width: 100%;
      height: 30px;
      font-size: 1em;
    }
  }

  .container-search-todos:hover {
    box-shadow: $hover-box-shadow;
    background-color: $hover-background;
  }

  .todo-list-container {
    grid-column: 1 / 10;
    grid-row: 4 / 5;
    justify-self: center;
    width: 300px;
    display: grid;
    grid-gap: 1vh;

    .todo {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 5fr 2fr;
      border: $primary-border;
      box-shadow: $primary-box-shadow;
      border-radius: 2px;

      .toggle-completed {
        justify-self: center;
        align-self: center;
      }

      .todo-controls {
        display: grid;
      }

      .todo-controls-edit-save {
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
      }

      .todo-controls-delete {
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
      }
    }

    .todo:hover {
      box-shadow: $hover-box-shadow;
      background-color: $hover-background;
    }
  }
}
