.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, minmax(50px, auto));
  margin: 0 auto;
}

nav {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.nav-login,
.nav-logout {
  grid-column: 11 / 13;
}
