.nav {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  grid-template-columns: repeat(12, 1fr);
  background-color: $light-blue;

  &__login {
    grid-column: 10 / 13;
    align-self: center;
    color: $white;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__logout {
    grid-column: 11 / 13;
    align-self: center;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
