.nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  background-color: $light-blue;

  &__login {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / 13;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: $white;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__logout {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11 / 13;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
