.todo-list {
  grid-column: 1 / 10;
  grid-row: 4 / 5;
  justify-self: center;
  width: 300px;
  display: grid;
  grid-gap: 1vh;

  .todo {
    padding: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    border: $primary-border;
    -webkit-box-shadow: $primary-box-shadow;
    box-shadow: $primary-box-shadow;
    border-radius: 2px;
    width: 300px;

    &__toggle-completed {
      justify-self: center;
      align-self: center;
    }

    &__item--subtext {
      font-size: 0.65em;
    }

    &__item--edit-item-input {
      width: 146px;
      height: 18px;
      margin: 5px;
      font-size: 0.95em;
    }

    &__controls {
      display: grid;
    }

    &__controls-edit-save {
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center;
    }

    &__controls--edit-btn {
      width: 48px;
      height: 20px;
      background-color: $light-blue;
      color: $white;
    }

    &__controls--edit-btn:active {
      background-color: $dark-blue;
    }

    &__controls--save-btn {
      width: 48px;
      height: 20px;
      background-color: $light-green;
      color: $white;
    }

    &__controls--save-btn:active {
      background-color: $dark-green;
    }

    &__controls-delete {
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
    }

    &__controls--delete-btn {
      width: 48px;
      height: 20px;
      background-color: $light-red;
      color: $white;
    }

    &__controls--delete-btn:active {
      background-color: $dark-red;
    }

    &:hover {
      -webkit-box-shadow: $hover-box-shadow;
      box-shadow: $hover-box-shadow;
      background-color: $hover-background;
    }
  }

  .todo--completed {
    p {
      color: $light-color;
      text-decoration: line-through;
    }
  }
}
