.todo-container {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1vh;

  h2 {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    justify-self: center;
  }
}
