.search-todos {
  padding: 1rem 0 1rem 0;
  grid-column: 1 / 10;
  grid-row: 3 / 4;
  justify-self: center;
  width: 300px;
  border: $primary-border;
  -webkit-box-shadow: $primary-box-shadow;
  box-shadow: $primary-box-shadow;
  border-radius: 2px;

  &__input {
    width: 282px;
    height: 30px;
    font-size: 1em;
  }

  &__show-completed {
    margin-left: 5px;
  }

  &:hover {
    -webkit-box-shadow: $hover-box-shadow;
    box-shadow: $hover-box-shadow;
    background-color: $hover-background;
  }
}
