$primary-border: 1px solid #cdcdcd;
$primary-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
$hover-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
$hover-background: #fafafa;
$light-color: #aaa;
$light-blue: #3993f1;
$dark-blue: #286ab1;
$light-red: #f15139;
$dark-red: #9f1b07;
$light-green: #27c176;
$dark-green: #25945e;
$white: #ffffff;
